<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/resources/static/js/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="/resources/static/css/bootstrap.min.css">

    <title>메인 화면</title>
</head>
<body>
    <div>
        <button id="mariadbBtn" class="btn btn-warning">Maria DB 테스트</button> <br />
        <p th:text="${testObject}"></p>
    </div>
</body>

<script>
    $(document).ready(function () {
        $('#mariadbBtn').on('click', function () {
            BUTTON.mariadb();
        });
    });

    var BUTTON = {
        mariadb: function () {
            location.href = '/mariadb/front/list';
        }
    };
</script>
</html>